*.pth
*.mp4
outputs/
work_dirs/
*__pycache__*
.vscode/
.envrc
.bak/
datasets/

preproc/checkpoints
preproc/checkpoints/
VTK
nvdiffrast
preproc/bootstapir_checkpoint_v2.pt
iiwa
*.stl
*.obj
*.ply
*.mtl

Grounded-SAM-2
sapiens
*.mp4